/dts-v1/;
/plugin/;
//#include <dt-bindings/gpio/gpio.h>
#include "dt-bindings/dispenser.h"

/ {
    compatible = "brcm,bcm2711";
    fragment@0 {
        target-path = "/";
        __overlay__ {
            dispenser {
                compatible = "hortensis,dispenser";
                status = "okay";
                //pinctrl-names = "default";
                //pinctrl-0 = <&push_buttons>;
                label = "Food Dispenser";
                value = <12>;
                charge-gpio = <&gpio 8 GPIO_ACTIVE_HIGH>;
                button-gpio = <&gpio 9 GPIO_ACTIVE_HIGH>;
                led-gpio = <&gpio 10 GPIO_ACTIVE_HIGH>;
                door-gpio = <&gpio 11 GPIO_ACTIVE_HIGH>;

                unit {
                    col0 {
                        slot0 {
                            up-gpio = <&gpio 22 GPIO_ACTIVE_HIGH>;
                            down-gpio = <&gpio 25 GPIO_ACTIVE_HIGH>;
                            release-gpio = <&gpio 5 GPIO_ACTIVE_HIGH>;
                        };
                        slot1 {
                            up-gpio = <&gpio 23 GPIO_ACTIVE_HIGH>;
                            down-gpio = <&gpio 26 GPIO_ACTIVE_HIGH>;
                            release-gpio = <&gpio 6 GPIO_ACTIVE_HIGH>;
                        };
                        slot2 {
                            up-gpio = <&gpio 24 GPIO_ACTIVE_HIGH>;
                            down-gpio = <&gpio 27 GPIO_ACTIVE_HIGH>;
                            release-gpio = <&gpio 7 GPIO_ACTIVE_HIGH>;
                        };
                    };
                    col1 {
                        slot0 {
                            up-gpio = <&gpio 18 GPIO_ACTIVE_HIGH>;
                            down-gpio = <&gpio 21 GPIO_ACTIVE_HIGH>;
                            release-gpio = <&gpio 4 GPIO_ACTIVE_HIGH>;
                        };
                        slot1 {
                            up-gpio = <&gpio 17 GPIO_ACTIVE_HIGH>;
                            down-gpio = <&gpio 20 GPIO_ACTIVE_HIGH>;
                            release-gpio = <&gpio 1 GPIO_ACTIVE_HIGH>;
                        };
                        slot2 {
                            up-gpio = <&gpio 16 GPIO_ACTIVE_HIGH>;
                            down-gpio = <&gpio 19 GPIO_ACTIVE_HIGH>;
                            release-gpio = <&gpio 0 GPIO_ACTIVE_HIGH>;
                        };
                    };
                };

                //push_buttons: push_buttons {
                //    brcm,pins = <22>;
                //    brcm,function = <0>; /* in */
                //    brcm,pull = <0>;
                //};
            };
        };
    };

    fragment@1 {
        target = <&leds>;
        __overlay__ {
            pinctrl-names = "default";
            pinctrl-0 = <&push_buttons>;
        };
    };

    fragment@2 {
        target = <&gpio>;
        __overlay__ {
            push_buttons: push_buttons {
                brcm,pins = <22>;
                brcm,function = <0>; /* in */
                brcm,pull = <0>;
            };
        };
    };

};
