/dts-v1/;
/plugin/;
//#include <dt-bindings/gpio/gpio.h>
#include "dt-bindings/dispenser.h"

/ {
    compatible = "brcm,bcm2711";
    fragment@0 {
        target-path = "/";
        __overlay__ {
            dispenser {
                compatible = "brightlight,mydev";
                status = "okay";
                label = "Food Dispenser";
                value = <12>;
                charge-gpio = <&gpio 8 GPIO_ACTIVE_HIGH>;
                button-gpio = <&gpio 9 GPIO_ACTIVE_HIGH>;
                led-gpio = <&gpio 10 GPIO_ACTIVE_HIGH>;
                door-gpio = <&gpio 11 GPIO_ACTIVE_HIGH>;

                col0 {
                    slot0{
                        up-gpio = <&gpio  GPIO_ACTIVE_HIGH>;
                        down-gpio = <&gpio  GPIO_ACTIVE_HIGH>;
                        release-gpio = <&gpio  GPIO_ACTIVE_HIGH>;
                    };
                };

            };
        };
    };
};
