[Unit]
Description=Dispenser daemon
Requires=camerastream.service

[Service]
Type=dbus
BusName=daemon.dispenser.daemon
ExecStart=/usr/sbin/dispenser -s
ExecStop=/usr/sbin/dispenser -t
RestartSec=2
Restart=always

[Install]
WantedBy=multi-user.target

#/etc/systemd/system
#systemctl enable camerastream.service
#systemctl enable --now camerastream.service
#systemctl daemon-reload
#systemctl start camerastream.service

#daemon.dispenser.daemon.conf daemon.dispenser.daemon
