[Unit]
Description=Dispenser daemon
#Requires=camerastream.service

[Service]
BusName=daemon.dispenser.dispenser
Type=dbus
ExecStart=/usr/sbin/dispenser -d
#Type=forking
#ExecStart=/usr/sbin/dispenser -s
ExecStop=/usr/sbin/dispenser -t
RestartSec=30
Restart=always
#KillSignal=15 #signal sent when dbus of dispenser is dropped

[Install]
WantedBy=multi-user.target

#/etc/systemd/system
#systemctl enable camerastream.service
#systemctl enable --now camerastream.service
#systemctl daemon-reload
#systemctl start camerastream.service

#daemon.dispenser.daemon.conf daemon.dispenser.daemon
